* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mainContainer {
  min-width: 500px;
  max-width: 700px;
  min-height: 300px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px;
  margin-inline: auto;
  margin-top: 20px;
  padding: 20px;
  /* background-color: #faf9f6; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 20px;
}

.rangeDisplay,
.subsection {
  width: 100%;
}

.slidecontainer input {
  width: 100%;
  padding-block: 10px;
  margin-block: 2px;
  /* border: 1px solid gray; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

select {
  width: 100%;
  padding-block: 10px;
  appearance: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 0;
  padding-left: 5px;
}

textarea {
  width: 100%;
}

.titles {
  padding-block: 3px;
  font-size: large;
}

button {
  width: 100%;
  padding-block: 10px;
  background-color: darkgreen;
  color: white;
  font-size: larger;
}

button:hover {
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: 700;
}

textarea {
  resize: vertical;
  padding: 5px;
}

.projectTitle {
  background: rgb(66, 116, 51);
  background: radial-gradient(
    circle,
    rgba(66, 116, 51, 1) 0%,
    rgba(109, 181, 60, 1) 100%
  );
  min-height: 40px;
  color: white;
  font-size: x-large;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}
